  <footer class="footer">
   <div class="padding-global">
    <div class="container-l">
     <div class="padding-vertical padding-s">
      <div class="w-layout-grid footer-top-wrapper">
       <div class="footer-left-wrapper">
        <div class="margin-bottom margin-s">
         <a aria-current="page" class="footer-logo-link w-nav-brand w--current" href="/">
          <img alt="Logo Hudder" class="footer-logo" loading="lazy" src="/img/logo.png"/>
         </a>
        </div>
<!--        <div class="margin-bottom margin-xxs">
         <div class="text-weight-bold">
          Join our newsletter
         </div>
        </div>
        <div class="footer-form-component w-form">
         <form class="footer-form" data-name="Email Form" data-wf-element-id="dccc68ce-c02a-93fa-6c16-5fe5a6f38e19" data-wf-page-id="64a6dee3e6319906d1a7f2d6" id="email-form" method="get" name="email-form">
          <input class="form-input w-input" data-name="Email 2" id="email-2" maxlength="256" name="email-2" placeholder="Enter your email" required="" type="email"/>
          <input class="button is-secondary w-button" data-wait="Please wait..." id="w-node-f7da8769-5140-b4d8-d863-63f6f9aa81cf-a6f38e0c" type="submit" value="Subscribe"/>
         </form>
         <div class="text-size-tiny">
          By subscribing you agree to with our
          <a href="/legal">
           <span>
            Privacy Policy.
           </span>
          </a>
         </div>
         <div class="success-message w-form-done">
          <div>
           Thank you! Your submission has been received!
          </div>
         </div>
         <div class="error-message w-form-fail">
          <div>
           Oops! Something went wrong while submitting the form.
          </div>
         </div>
        </div>-->
       </div>
       <<!--div class="w-layout-grid footer-menu-wrapper">
        <div class="footer-link-list">
         <div class="margin-bottom margin-xs">
          <div class="text-size-m text-weight-bold text-style-allcaps">
           Menu
          </div>
         </div>
         <a aria-current="page" class="footer-link w--current" href="/">
          Home
         </a>
         <a class="footer-link" href="/about">
          About
         </a>
         <a class="footer-link" href="/faq">
          FAQ
         </a>
         <a class="footer-link" href="/blog">
          Blog
         </a>
         <a class="footer-link" href="/contact">
          contact
         </a>
        </div>
        <div class="footer-link-list">
         <div class="margin-bottom margin-xs">
          <div class="text-size-m text-weight-bold text-style-allcaps">
           MENU
          </div>
         </div>
         <a class="footer-link" href="/service">
          Service page
         </a>
         <a class="footer-link" href="/legal">
          legal page
         </a>
         <a class="footer-link" href="/templates-info/style-guide">
          style guide
         </a>
         <a class="footer-link" href="/templates-info/licenses">
          licenses
         </a>
         <a class="footer-link" href="/templates-info/changelog">
          changelog
         </a>
        </div>
        <div class="footer-link-list">
         <div class="margin-bottom margin-xs">
          <div class="text-size-m text-weight-bold text-style-allcaps">
           social
          </div>
         </div>
         <a class="footer-link" href="https://www.facebook.com/" target="_blank">
          facebook
         </a>
         <a class="footer-link" href="https://x.com/hudderco" target="_blank">
          twitter
         </a>
         <a class="footer-link" href="https://www.instagram.com/hudderco" target="_blank">
          instagram
         </a>
         <a class="footer-link" href="https://www.linkedin.com/company/hudderco" target="_blank">
          linkedin
         </a>
         <a class="footer-link" href="https://www.youtube.com/" target="_blank">
          youtube
         </a>
        </div>
       </div>-->
      </div>
      <div class="padding-top padding-xxs">
       <div class="footer-bottom-wrapper">
        <div class="footer-credit-text">
         © 2025 Hudder.
        </div>
<!--        <div class="w-layout-grid footer-legal-list">
         <a class="footer-legal-link" href="https://webflow.com/templates/designers/ariakes">
          Designed by Ariakes
         </a>
         <a class="footer-legal-link" href="https://webflow.com/">
          Powered by Webflow
         </a>
        </div>-->
       </div>
      </div>
     </div>
    </div>
   </div>
  </footer>
