  <div class="navbar w-nav" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" data-w-id="2367d1b3-7e0a-1061-f8e1-9c93c1d8ca5d" fs-scrolldisable-element="smart-nav" role="banner">
   <div class="navbar-container">
    <a aria-current="page" class="navbar-logo-link w-nav-brand w--current" href="/">
     <img alt="Logo Hudder" class="navbar-logo" loading="lazy" src="/img/logo.png"/>
    </a>
    <nav class="navbar-menu w-nav-menu" id="w-node-_2367d1b3-7e0a-1061-f8e1-9c93c1d8ca61-c1d8ca5d" role="navigation">
     <div class="navbar-menu-dropdown w-dropdown" data-delay="200" data-hover="false" data-w-id="2367d1b3-7e0a-1061-f8e1-9c93c1d8ca62">
      <div class="navbar-dropdown-toggle w-dropdown-toggle">
       <div class="dropdown-icon w-embed">
        <svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
         <path d="M7 10L12 15L17 10" stroke="CurrentColor" stroke-linecap="round" stroke-linejoin="round">
         </path>
        </svg>
       </div>
       <div>
        services
       </div>
      </div>
      <nav class="navbar-dropdown-list w-dropdown-list">
       <a class="navbar-dropdown-link w-dropdown-link" href="/service">
        marketing
       </a>
       <a class="navbar-dropdown-link w-dropdown-link" href="/service">
        Consulting
       </a>
       <a class="navbar-dropdown-link w-dropdown-link" href="/service">
        Branding
       </a>
       <a class="navbar-dropdown-link w-dropdown-link" href="/service">
        analytics
       </a>
      </nav>
     </div>
     <a class="navbar-link w-nav-link" href="/about">
      about
     </a>
     <a class="navbar-link w-nav-link" href="/faq">
      FAQ
     </a>
     <a class="navbar-link w-nav-link" href="/blog">
      blog
     </a>
    </nav>
    <div class="navbar-button-wrapper" id="w-node-_2367d1b3-7e0a-1061-f8e1-9c93c1d8ca76-c1d8ca5d">
     <a class="button w-button" href="/contact">
      contact
     </a>
     <div class="navbar-menu-button w-nav-button">
      <div class="menu-icon">
       <div class="menu-icon-line-top">
       </div>
       <div class="menu-icon-line-middle">
        <div class="menu-icon-line-middle-inner">
        </div>
       </div>
       <div class="menu-icon-line-bottom">
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
